@media screen and (min-width: 1700px) {

    .login {
        position: fixed;
        display: flex;
        align-items: center;
    
    
    }
    
}

@media screen and (max-width: 1170px)  {


    .login-form.extra-padding {
        padding: 0 200px;
    }
    



}

@media screen and (max-width: 1024px) {

    
    .nav-item.nav-toggle {
        display: block;
        color: #fff;
    }

    .site-navbar {
        padding-left: 20px;
    }

    .login .figcaption .site-navbar {padding-left: 0;}

    .profile.extra-padding.pt-0 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}

@media screen and (max-width: 991px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 24px !important;
    }
    p {
        font-size: 14px !important;
    }
    a {
        font-size: 14px !important;
    }
    .sec-pad {
        padding: 30px 0;
    }
    .login-form.extra-padding {
        padding: 0;
    }
    .login-video.extra-padding {
        padding: 0;
        margin: 0;
    }
    .login-video.extra-padding iframe {
        height: 250px;
    }
    .social-sec-login a {
        padding: 15px 8px;
    }

    .login-form .form-control {
        height: 45px;
    }

    .btn-red,
    .btn-orange {
        font-size: 14px !important;
    }

    .reffer-code {
        display: block !important;
    }

    .reffer-code input {
        width: 100%;
    }

    .navbar-collapse {
        display: flex;
    }

    .invite-friends .col-lg-3 {
        text-align: center;
    }

    .invite-friends {
        padding: 15px 0 30px;
    }

    #navbar-mobile.navbar-collapse .navbar-nav .menu-toggle {
        top: 0;
    }

    .body-mid-invite .submit {
        font-size: 14px;
        padding: 8px 24px;
    }

    .body-mid-invite .disabled {
        font-size: 15px;
        padding: 8px 24px;
    }

    .profile-edit.extra-padding {
        padding: 30px 0;
    }

    .profile-form-edit-sec .form-control {
        height: 45px;
        margin-bottom: 10px;

        border: 1px solid #cccccc;
    }

    .btn-red {
        margin-top: 10px;
    }

    .profile.extra-padding {
        padding: 100px 0 0;
    }
    .profile-bg h3 {
        font-size: 18px !important;
    }

    #myModal .modal-body .form-control {
        height: 45px;
    }

    #myModal .modal-body form i {
        top: 12px;
    }

    .profile-form-edit-sec .form-control {
        height: 45px;
    }

    #myModal .modal-title {
        font-size: 15px !important;
    }

    .unlock-membership {
        padding: 0;
    }

    .settings ul li strong {
        font-size: 16px;
    }

    .unlock-bg h1 {
        font-size: 18px !important;
    }

    .inactive-subscription .col-lg-4 {
        padding-right: 15px;
    }
    .inactive-bg:before {
        height: 100%;
    }

    .unlock-bg p {
        margin-bottom: 5px;
    }

    .inactive-bg ul {
        display: block;
    }

    .inactive-subscription {
        padding: 30px 0 0;
    }
    .active-bill-heading {
        font-size: 18px;
    }

    .settings ul li span {
        font-size: 13px;
    }
    .unlock-membership.for-purchase-history {
        padding-bottom: 30px;
    }

    .settings ul li {
        margin-right: 10px;
    }

    .login-form.extra-padding {
        padding: 0 0;
    }

    .social-sec-login a img {
        width: auto;
    }

    .introduction-module-list .tab-section.for-list-view .card-body {
        padding: 0 0 15px;
    }

    .introduction-module-list .tab-section .row .col-lg-4 {
        padding-right: 15px;
    }

    /*.introduction-module-list .tab-section .row {

        margin-right: -15px;
    }*/

}

@media screen and (max-width: 767px) {
    .site-navbar {
        padding-left: 0;
    }

    .site-navbar ul .search-sec {
        padding: 8px 5px;
    }

    .site-navbar ul li {
        padding: 14px 8px;
    }

    .account .btn {
        font-size: 12px;
    }

    .app-content .content-wrapper {
        padding: 1.8rem 0 0 !important;
    }

    .profile-bg {
        padding: 60px 20px 10px;
    }

    .unlock-bg {
        padding: 20px 20px;
    }

    .settings {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 568px) {
    .site-navbar ul {
        display: block;
    }

    .account .btn img {
        width: 40px !important;
        height: 40px !important;}

    .site-navbar ul .search-sec {
        padding: 0;
        float: none;
    }

    .site-navbar ul li {
        float: left;
        padding: 14px 8px 0;
    }

    .site-navbar ul .account {
        padding-top: 8px;
        padding-left: 0;
    }

    .account .btn img {
        width: 25%;
    }

    .site-navbar h2 {
        padding-right: 10px;
    }

    .site-navbar h2 a {
        margin-right: 0;

        position: absolute;
        left: 33px;
        top: 5px;
    }

    .unlock-membership {
        padding-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .account .btn span {
        display: none;
    }

  


    .account .btn img {
        width: 50%;
    }

    .site-navbar h2 {
        font-size: 18px !important;
    }

    .navbar-sticky .navbar-container {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .site-navbar h2 a {
        left: 16px;
    }

    .billing-info .unlock-bg {
        display: block;
    }

    .billing-info .unlock-bg .info-right {
        width: 100%;
        margin-top: 15px;
        text-align: left;
    }
}

@media screen and (max-width: 390px){

    .login-form p a {
        
        display: block;}
    
    }

@media screen and (max-width: 320px) {
    .site-navbar h2 {
        font-size: 14px !important;
    }
}