/*-----------------*/

html body {
    background: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

a {
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.row.m0 {
    margin: 0px;
}

.p0 {
    padding: 0px;
}

i:before {
    margin-left: 0px !important;
}

ul li {
    text-decoration: none;
    list-style: none;
}

body {
    letter-spacing: 0px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif !important;
    color: #333;
    padding: 0px;
    overflow-x: hidden;
    z-index: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

a,
.btn,
button {
    text-decoration: none;
    outline: none;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600 !important;
}

.btn i {
    top: 0;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #aaaaaa;
    margin-bottom: 10px;
    font-weight: 400;
}

.flt-r {
    float: right;
}

.flt-l {
    float: left;
}

.btn-red {
    padding: 12px 45px;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: #c62828;
    border: 1px solid#c62828;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 7px;
    text-transform: uppercase;
}

.btn-red:hover {
    background: #fff;
    color: #f86969;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-orange {
    background: #f86969;
    border-color: #f86969;
}

.btn-orange:hover {
    color: #f86969;
}

.sec-pad {
    padding: 50px 0;
}

.main-menu.menu-light {
    background: url("../images/rectangle.jpg") no-repeat;
    background-size: 100% 100%;
}

.main-menu .main-menu-content {
    margin-top: 20px;
}

.nav-item.nav-toggle {
    display: none;
}

.main-menu.menu-light .navigation {
    background: none;
}

.main-menu.menu-light .navigation li a {
    color: #fff;
    padding: 0 !important;
    padding-left: 30px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    font-size: 16px;
  font-family: 'Open Sans', sans-serif;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-weight: 700 !important;
}

.main-menu.menu-light .navigation > li {
    margin: 0;
    padding: 2px 30px;
    padding-left: 0;
}

.main-menu.menu-light .navigation li a:hover {
    background: #fff;
    color: #c62828;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.main-menu.menu-light .navigation li a img {
    vertical-align: inherit;
}

.main-menu.menu-light .navigation li a:hover img {
    filter: brightness(0.5) sepia(1) saturate(10000%);
}

.main-menu .navbar-header .navbar-brand {
    margin: 10px auto 0;
    float: none;
    display: inline-block;
}
.main-menu .navbar-header .navbar-brand img {
    width: 60%;
}

.main-menu .navbar-header ul li {
    text-align: center;
}

/*img {
  filter: brightness(0.5) sepia(1) saturate(10000%);
  
}*/

.site-navbar {
    display: flex;

    align-items: center;
    width: 100%;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.site-navbar ul li {
    padding: 14px 10px;
}

.site-navbar ul li a img:hover {
    filter: brightness(0.5) sepia(1) saturate(10000%);
}

.header-navbar.fixed-top {
    background-color: #fff !important;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}

.dropdown-menu .dropdown-item {
    text-transform: capitalize;
    padding: 5px 10px;
}

.site-navbar h2 {
    color: #fb4c0f;
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.site-navbar h2 a {
    font-size: 20px;
    margin-right: 10px;
    color: #222222;
}
.site-navbar h2 a i {
    vertical-align: super;
}

.site-navbar ul .account {
    padding-top: 0;
    padding-bottom: 0;
}

.account .btn {
    padding: 0;
}

.site-navbar ul .search-sec {
    padding: 7px 20px;
}

.site-navbar ul .search-sec .form-control {
    border: transparent;
    background: #fbfbfb;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;;
    color: #222222;
    font-weight: 400;
}

#myInput {
    background-image: url("../images/search.png");
    background-position: 10px 8px;
    background-repeat: no-repeat;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    font-family: "Open Sans", sans-serif;
    padding: 12px 20px 12px 40px;
}

.invite-friends {
    float: left;
    width: 100%;
    padding: 50px 0;
}

.invite-friends .figure img {
    width: 100%;
}

.invite-friends .figcaption {
    padding: 30px 0;
}

.invite-friends .figcaption h1 {
    font-size: 30px;
    font-weight: bold;
    color: #222;
    font-family: "Open Sans", sans-serif;
}
.invite-friends .figcaption strong {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
    display: block;
    font-family: "Open Sans", sans-serif;
}

.bg-invite {
    background: #f5f5f5;
    float: left;
    width: 100%;
}

.body-mid-invite {
    float: left;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.body-mid-invite .copy-code {
    background: #f5f5f5;
    color: #fb4c0f !important;
    font-size: 24px;
    padding: 15px 35px;
    font-weight: 700 !important;
    opacity: 1; cursor: text;
    margin: 20px auto;
}

.body-mid-invite .copy-code:active {background:#f5f5f5 !important;}
.body-mid-invite .submit {
    background: #F86969;
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
    font-weight: 500;
    margin: 0 auto;
    border: 1px solid transparent;
}

.body-mid-invite .submit:hover {
    background: #fff;
    color: #F86969;
    border-color: #F86969;
}

.unlock-membership {
    float: left;
    width: 100%;
    padding: 0 100px;
}

.unlock-bg {
    background: url(../images/bg2.png) no-repeat;
    background-size: 100% 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unlock-bg h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.unlock-bg p {
    color: #fff;
}

.unlock-bg a {
    color: #c62828;
    padding: 10px 25px;
    background: #fff;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: inline-block;
    text-align: center;
}

.unlock-bg a:hover {
    background: #F86969;
    color: #fff;
}

.introduction-module-list {
    float: left;
    width: 100%;
}

.introduction-module-list .accordion .card-header {
    display: flex;
    border: none;
    border-top: 1px solid #dddddd;
    border-radius: 0 !important;
    padding: 20px 10px;
}

.introduction-module-list .accordion .card-header:after {
    font-family: "FontAwesome";
    content: "\f068";
    color: #fff;
    font-size: 20px;
    float: right;
    position: relative;
    top: 4px;
    background: #F86969;
    padding: 3px 9px 2px;
    border-radius: 100%;
    right: 0;
    margin-left: auto;
}
.introduction-module-list .accordion .card-header.collapsed:after {
    content: "\f067";
}

.introduction-module-list .accordion a {
    color: #222;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;    
    letter-spacing: 0;
}

.introduction-module-list .accordion .progress-btn {
    margin-left: auto;
    padding: 7px 20px;
    background: linear-gradient(180deg, #90f737 0%, #4da204 49%, #408209 51%, #6bdc0a 100%);
    color: #fff;
    border-radius: 7px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-right: 20px;
}

.introduction-module-list .accordion .progress-btn i {
    top: 0;
    margin: 0;
}

.introduction-module-list .list-icon {
    float: left;
    width: 100%;
}

.introduction-module-list .list-icon a {
    color: #222;
    font-size: 20px;
    padding: 12px;
}

.introduction-module-list .list-icon .active {
    color: #F86969;
}

.introduction-module-list .list-icon a:last-child {
    padding-right: 0;
}

.introduction-module-list .tab-section {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.introduction-module-list .tab-section .tab-bg {
    background: url(../images/bg3.png) no-repeat;
    background-size: 100% 100%;
    padding: 20px 10px;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    /*border: 2px solid #03c169;*/
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

.introduction-module-list .tab-section .tab-bg.phase {
    border-color: #aaaaaa;
    margin-bottom: 0;
}

.introduction-module-list .tab-section .tab-bg ul {
    padding: 0;
    margin: 0;
}

.introduction-module-list .tab-section .tab-bg ul li {
    float: left;
}

.introduction-module-list .tab-section .tab-bg ul li:last-child {

float: right;

}
/****Biswarup 08.12.2020*****/
.introduction-module-list .tab-section .tab-bg ul li strong {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    /* word-break: break-word; */
    display: block;
}
.introduction-module-list .for-list-view .tab-bg ul li strong {
   
    width: 90%;
    
}
/****end Biswarup 08.12.2020*****/

.introduction-module-list .tab-section .tab-bg ul li p {
    color: #777777;
    font-size: 13px;
}
/****Biswarup 08.12.2020*****/
.introduction-module-list .tab-section .tab-bg figure {
    margin: 0;
    background: #F86969;
   /* padding: 10px;*/
    border-radius: 50%;
    display: inline-block;
    width:100%;
    overflow: hidden;
    text-align: center;
}
/****end Biswarup 08.12.2020*****/


.introduction-module-list .tab-section .tab-bg.phase figure {
background: #ccc;

}

.introduction-module-list .tab-section .tab-bg figure img {
    width: 100%;
}

/****Biswarup 08.12.2020*****/
.introduction-module-list .tab-section .tab-bg figure img.iconImage {
    width: 50px;
    height:50px;
    border-radius: 50%;
}
.introduction-module-list .tab-section .tab-bg.phase figure img.iconImage {
    opacity: .4
}
/****end Biswarup 08.12.2020*****/

.introduction-module-list .tab-section .card-body {
    padding: 0 10px 15px;
}

.introduction-module-list .tab-section.for-list-view .card-body {

    padding: 0 250px 15px;
}

.collapsible .card.open,
.accordion .card.open {
    box-shadow: none !important;
    border-radius: 0 !important;
}

/*.introduction-module-list .tab-section .tab-bg:after {
    position: absolute;
    content: "Introduction";
    right: 0;
    background: #090088;
    font-size: 12px;
    color: #fff;
    top: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    width: auto;
    height: 100%;
    padding: 0 8px;
    text-align: center;
    font-family: "Conv_GTWalsheimPro-Bold";
    font-weight: 700;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}*/

/*.introduction-module-list .tab-section #collapseTwo .tab-bg:after {
    content: "Trial";
}

.introduction-module-list .tab-section #collapseThree .tab-bg:after {
    content: "Phase";
}*/

.introduction-module-list .tab-section .row {
    margin-right: 0;
}

.introduction-module-list .tab-section .row .col-lg-4 {
    padding-right: 0;
}

/*.introduction-module-list .tab-section .tab-bg .bg-red {
    background: #c62828;
}*/

.introduction-module-list .accordion .progress-btn.locked {
    background: linear-gradient(180deg, #ee1e1e 0%, #d00d0d 49%, #9c0909 51%, #ee1e1e 100%);
}

.introduction-module-list .accordion .feedback .btn-one {
    background: #aaa;
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    padding: 12px 10px;
    font-weight: 400;border-bottom-left-radius: 10px;
    transform: skew(-20deg);
}

.introduction-module-list .accordion .feedback .btn-one.btn-two {
    background: linear-gradient(180deg, #F86969 0%, #f16e40 49%, #FB4C0F 56%, #FB4C0F 100%);
    border-bottom-left-radius: 0;
}

.introduction-module-list .accordion .feedback {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
}

/*----------progress-bar---------------*/

.circle-bar {
    padding: 14px 16px;
    border: 2px solid #F86969;
    border-radius: 50%;
    margin-left: 35px;
    position: relative;
}

.circle-bar.extra-circle {
    position: absolute;
    /*background: url("../images/circle_bar.png") no-repeat;
    background-size: 100% 100%;*/
   /* padding: 15px 14px;*/
    border-color: #aaa;
    right: 8px;
}

.circle-bar.extra-circle span {

    color: #aaa;
}

.circle-bar span {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #F86969;
}

/*----------progress-bar---------------*/

.introduction {
    float: left;
    width: 100%;
    padding: 20px 100px 50px;
}

.introduction .figure {
    width: 100%;
    margin-bottom: 20px;
}

.introduction .figure img {
    width: 100%;
}

.intro-video-sec {
    background: url("../images/bg4.png") no-repeat;
    background-size: 100% 100%;
    padding: 20px 50px;
    float: left;
    width: 100%;
    margin: 20px 0;
}

.intro-video-sec ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.intro-video-sec ul li {
    float: left;
    margin-right: 40px;
}

.intro-video-sec ul li:last-child {
    margin-left: auto;
    margin-right: 0;
}

.intro-video-sec ul li strong {
    color: #222222;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.intro-video-sec ul li span {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.introduction .btn {
    padding: 8px 45px;
    color: #fff;
    display: block;
    margin: 0 auto;
    background:#F86969;
    border: 1px solid #F86969;
    margin-top: 20px;
}

.introduction .btn:hover {
    background: #fff;
    color: #F86969;
}

.video-lessons span {
    margin: 20px 0 30px;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #222222;
}

.video-lessons h1 {
    font-size: 24px;
    color: #000;
}
.video-lessons p {
    color: #777;
    margin-bottom: 20px;
}

.need-description-one .descrip-one {
    display: block;
    width: 100%;
    background: #fd8d00;
    color: #fff !important;
    border: none;
    opacity: 0.6;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px 0 20px;
}

.need-description-one .descrip-two {
    background: url(../images/bg4.png) no-repeat;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #777777 !important;
    background-size: 100% 100%;
    width: 100%;
    border: none;
    padding: 25px;
    margin-bottom: 30px;
}

.need-description-one .descrip-two.start-msg {
    color: #222222 !important;
    margin-bottom: 15px;
    text-align: center;
}

.introduction .btn.btn-activity {
    background: #F86969;
    border-color:#F86969;
    margin-top: 20px;
    padding: 8px 61px;
}

.introduction .btn.btn-activity:hover {
    background: #fff;
    color:#F86969;
}

.test-speaking-sec strong {
    font-size: 24px;
    margin-bottom: 15px;
}

.test-speaking-sec {
    margin-bottom: 30px;
}

.test-speaking-sec p {

    color: #F86969;text-transform: uppercase;
}

.need-description-one .descrip-two.start-msg strong {
    font-size: 60px;
    color: #fb4c0f;
    font-family: "Open Sans", sans-serif;;
    font-weight: 700;
}
.need-description-one .descrip-two.start-msg span {
    font-size: 15px;
    color: #aaa;
}

.need-description-one .descrip-two.listen-choose-heading {
    color: #222 !important;
    padding: 5px 20px;
    margin-bottom: 40px;
    cursor: text;
}

.module-details-outer-sec {
    float: left;
    width: 100%;
}

.module-details {
    float: left;
    width: 100%;
}

.small-heading {
    background: url("../images/hdng-small-bg.png") no-repeat;
    background-size: 100% 100%;
    padding: 8px 20px;
    margin-bottom: 40px;
}

.small-heading h2 {
    color: #222;
    font-size: 24px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.module-bg-sec {
    background: url("../images/bg5.png") no-repeat;
    background-size: 100% 100%;
    padding: 30px 10px;
    position: relative;
    margin: 30px 0 0 0;
}

.module-bg-sec.module-bg-light {
    background: url("../images/bg6.png") no-repeat;
    background-size: 100% 100%;
}

.module-bg-sec .figure {
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.11);
    width: 80px;
    height: 80px;
}

.module-bg-sec .figure img {
    padding: 14px;
}

.module-bg-sec span {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #222;
    padding-top: 15px;
}

.module-details .row {
    justify-content: center;
}

.login {
    background: url("../images/mile-1-bg.jpg") no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    height: 100%;
}

.extra-padding {
    padding: 0 200px;
}

.login-form.extra-padding {
    padding: 0 350px;
}

.login .figure {
    margin-bottom: 30px;
}

.social-sec-login {
    display: block;
    margin: 50px 0;
}

.social-sec-login a {
    background: #fff;
    padding: 17px 14px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.11);
    margin: 0 12px;
}

.social-sec-login a img {
    width: 25px;
}

.login-form .form-control {
    height: 60px;
    background: transparent;
    border-color: transparent;
    border-bottom: 1px solid #777777;
    border-radius: 0;
    margin-bottom: 10px;
    color: #777777;
    font-size: 15px;
    font-weight: 500;
     font-family: 'Open Sans', sans-serif;
}

.login-form p a {
    color: #f86969;
    text-transform: uppercase;
    font-weight: 700 !important;
}

.login-form .btn-orange {
    display: block;
    margin: 15px auto;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    line-height: normal;
}

.disable {
    background: #ece9f1;
    border-color: transparent;
    color: #d0c9d6 !important;
}
.disable:hover {
    background: #ece9f1;
}

.reffer-code input {
    width: 70%;
    margin-right: 10px;
}

.reffer-code a {
    color: #f86969;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700 !important;
}

.left-arrow a {
    color: #222;
    font-size: 24px;
}

.warning {
    color: red;
}

.login-video {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.login-video .btn-red {
    display: block;
    margin: 20px auto 0;
}

.profile {
    float: left;
    width: 100%;
    padding-top: 100px;
}

.profile-bg {
    background: #f5f5f5;
    border-radius: 20px;
    text-align: center;
    padding: 60px 20px 20px;
    position: relative;
    margin-bottom: 20px;
}

.profile-bg h3 {
    color: #333333;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}

.profile-bg .figure {
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
}

.profile-edit {
    float: left;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.profile-form-edit-sec {
    float: left;
    width: 100%;
}

.profile-form-edit-sec .row {
    align-items: center;
    margin-bottom: 10px;
}

.profile-form-edit-sec .form-control {
    height: 60px;
    border-color: transparent;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
    color: #222222;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.profile-form-edit-sec label {
    font-size: 14px;
    color: #333;
    font-family: "Open Sans", sans-serif;;
}

.profile-form-edit-sec .form-check-label {
    font-family: "Open Sans", sans-serif;
}

.profile-form-edit-sec .btn-orange,
.profile-form-edit-sec .btn-red {
    display: block;
    width: 100%;
}

.profile-form-edit-sec a {
    color: #c62828;
    font-family: "Open Sans", sans-serif;;
}

.pro-pic {
    position: absolute;
    top: 0;
    left: 0;
    right: -100px;
}

#myModal .modal-title {
    color: #c62828;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;;
}

#myModal .modal-header {
    padding: 15px 20px;
    border: none;
    padding-bottom: 0;
}

#myModal .modal-body {
    padding: 0 20px 15px;
}

#myModal .modal-body p {
    text-align: left;
    font-size: 14px;
}

#myModal .modal-body .success {
    color: #68d50a;
}

#myModal .modal-content {
    border-radius: 20px;
}

#myModal .modal-body .form-control {
    height: 60px;
    border: transparent;
    border-bottom: 1px solid #777777;
    border-radius: 0;
    font-size: 14px;
    color: #777777;
    font-family: "Open Sans", sans-serif;
    background: none;
}

#myModal .modal-body form {
    position: relative;
}

#myModal .modal-body form span {
    color: #fd8d00;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
}

#myModal .modal-body form i {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 20px;
    color: #68d50a;
}

.settings {
    background: url(../images/bg4.png) no-repeat;
    background-size: 100% 100%;
    padding: 20px 50px;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 15px;

    border-radius: 10px;
    border-bottom-right-radius: 0;
    margin: 20px 0 0;
}

.settings ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.settings ul li {
    float: left;
    margin-right: 15px;
}

.settings ul li figure {
    margin: 0;
    background: #F86969;
    padding: 0;
    border-radius: 100%;
    display: inline-block;
    width: 100%;
}

.settings ul li figure img {
    padding: 15px;
}

.settings ul li strong {
    color: #222222;
    font-size: 24px;

    font-family: "Open Sans", sans-serif;
}

.settings ul li:nth-child(3) {
    width: 60%;

    text-align: right;
    margin-right: 0;
}

.settings-privacy a {
    color: #c62828;
    text-decoration: underline;
}

.settings ul li span {
    display: block;
    color: #222222;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
.settings ul li span b {
    display: block;
    font-family: "Open Sans", sans-serif;
}
.unlock-membership.for-purchase-history {
    padding: 0;
    padding-bottom: 50px;
}

.unlock-membership.for-purchase-history .settings {
    padding: 20px;
    background: url(../images/bg3.png) no-repeat;
    background-size: 100% 100%;
}

.billing-info .unlock-bg {
    background: url(../images/bg7.png) no-repeat;
    background-size: 100% 100%;
}

.billing-info .unlock-bg a {
    border-radius: 10px;
}

.billing-info .unlock-bg a:hover {
    background: #c62828;
    color: #fff;
}

.billing-info .unlock-bg .info-right {
    width: 50%;
    text-align: right;
}

.billing-info .unlock-bg .info-right span a {
    background: none;
    padding: 0;
    text-decoration: underline;
    display: block;
    margin-top: 30px;
    text-align: right;
    color: #fff;
}

.billing-info .unlock-bg .info-right span a:hover {
    color: #c62828;
}

.inactive-subscription {
    float: left;
    width: 100%;
    padding: 50px 0 0;
}

.inactive-subscription .col-lg-4 {
    padding-right: 0;
}

.inactive-bg {
    background: url(../images/bg-billing.png) no-repeat;
    background-size: 100% 100%;
    padding: 20px 10px;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    z-index: 9;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

.inactive-bg:before {
    position: absolute;
    content: "";
    background: url(../images/bill-after.png) no-repeat;
    background-size: 100%;
    width: 100%;
    right: 0;
    top: 0;
    height: 100px;
    z-index: -1;
}

.inactive-bg figure {
    position: absolute;
    top: -40px;
    left: 20px;
    margin: 0;
    background: #F86969;
    padding: 0;
    border-radius: 100px;
    display: inline-block;
}

.inactive-bg figure img {
    padding: 15px;width: 70px;
    height: 70px;
}

.inactive-bg ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
}

.inactive-bg ul li strong {
    color: #222222;
    font-size: 17px;
    margin-bottom: 5px;
    display: block;
    font-family: "Open Sans", sans-serif;;
}

.inactive-bg ul li p {
    color: #222222;
    font-size: 14px;
    margin-bottom: 5px;
}

.inactive-bg ul li .btn-red {
    text-align: center;
    font-size: 12px;
    padding: 10px 10px;
}

.active-bill-heading {
    font-size: 24px;
    text-align: center;
    display: block;
}

.listen-record {
    padding-bottom: 50px;
}

.small-heading span {
    float: right;
}

.small-heading span a {
    font-size: 30px;
    color: #c62828;
}

.swal2-styled.swal2-confirm {
    background-color: #c62828 !important;
    color: #fff !important;
}

.field-icon {
    float: right;
    font-size: 20px !important;
    margin-left: 0;
    margin-top: -50px;
    position: relative;
    z-index: 2;
    right: 15px;
}
.toggle-password {
    cursor: pointer;
}

/* Define an animation behavior for fa-spinner */
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
/* This is the class name given by the Font Awesome component when icon contains 'spinner' */
/* Apply 'spinner' keyframes looping once every second (1s)  */
.fa-spinner {
    animation: spinner 1s linear infinite;
}

.account .btn img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
}

.profile-bg .figure img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.profile-bg .figure input {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 35px;
    overflow: hidden;
    top: 87%;
    opacity: 0;
}

.profile-bg .figure:before {
    position: absolute;
    left: 0;
    top: 78%;
    content: "";
    font-size: 20px;
    background: url(../images/camera.png) no-repeat;
    background-size: 100%;
    width: 60px;
    height: 60px;
    right: 0;
    margin: 0 auto;
}

.main-menu.menu-light .navigation > li.active:not(.sidebar-group-active) > a {
    background: #fff;
    color: #c62828;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.main-menu.menu-light .navigation > li.active:not(.sidebar-group-active) > a img {
    filter: brightness(0.5) sepia(1) saturate(10000%);
}

.modal-footer button {

    font-family: "Open Sans", sans-serif; 
    padding: 12px 45px;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    background: #c62828 ;
    border: 1px solid#c62828;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 7px;
}

.modal-footer button:hover {

    background: #fff;color: #c62828;border-color: #c62828;
}

.module-details .feedback {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
}

.module-details .feedback .btn-one {
    background: #aaa;
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    padding: 12px 10px;
    font-weight: 400;
    border-bottom-left-radius: 10px;
    transform: skew(-20deg);}

    .module-details .feedback .btn-one.btn-two {
        background: linear-gradient(180deg, #F86969 0%, #f16e40 49%, #FB4C0F 56%, #FB4C0F 100%);
        border-bottom-left-radius: 0;}

.module-details-outer-sec .module-details .col-lg-4 {margin-bottom: 25px;}

/**** Biswarup *****/
/**** 08.12.2020 *****/

#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: #F86969;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 14px;
  font-weight: bold;
  fill: #F86969;
}
/****end Biswarup *****/
/**** 08.12.2020 *****/


/**** Start Biswarup *****/
/**** 11.12.2020 *****/

.theme-circle{
    padding:15px;
    background: #fb4c0f;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.theme-circle img{
    width:80px;
    padding:10px;
}

/**** End Biswarup *****/
/**** 11.12.2020 *****/